flows (2).json
[{"id":"5bd5984f.7c7e8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"2b3ca03a.b6eb2","type":"ui_form","z":"5bd5984f.7c7e8","name":"form","label":"","group":"4db988a7.6f6348","order":1,"width":0,"height":0,"options":[{"label":"Country","value":"a","type":"text","required":true,"rows":null},{"label":"Year","value":"b","type":"number","required":true,"rows":null},{"label":"Status","value":"c","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"d","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"e","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"f","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"g","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"h","type":"number","required":true,"rows":null},{"label":"Measles","value":"i","type":"number","required":true,"rows":null},{"label":"BMI","value":"j","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"k","type":"number","required":true,"rows":null},{"label":"Polio","value":"l","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"m","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"n","type":"number","required":false,"rows":null},{"label":"HIV/AIDS","value":"o","type":"number","required":false,"rows":null},{"label":"GDP","value":"p","type":"number","required":false,"rows":null},{"label":"Population","value":"q","type":"number","required":false,"rows":null},{"label":"thinness  1-19 years","value":"r","type":"number","required":false,"rows":null},{"label":"thinness 5-9 years","value":"s","type":"number","required":false,"rows":null},{"label":"Income composition of resources","value":"t","type":"number","required":false,"rows":null},{"label":"Schooling","value":"u","type":"number","required":false,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":"","u":""},"payload":"","submit":"PREDICT","cancel":"CANCEL","topic":"form","x":55,"y":160,"wires":[["5e4559ec.043c88"]],"l":false},{"id":"5e4559ec.043c88","type":"function","z":"5bd5984f.7c7e8","name":"pre token","func":"global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\n\nvar apikey =\"mILTjJWhB0v0IKs73yZucO8enZXcSORAaPAtS_9_fnGv\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":252.5,"y":157,"wires":[["b84b4bac.dcc13"]],"l":false},{"id":"b84b4bac.dcc13","type":"http request","z":"5bd5984f.7c7e8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":417.5,"y":156,"wires":[["dd8db98d.152f28"]],"l":false},{"id":"dd8db98d.152f28","type":"function","z":"5bd5984f.7c7e8","name":"pre prediction","func":"var token=msg.payload.access_token;\nvar instance_id=\"bcf214c3-941a-4024-8b68-b316504ea241\"\nmsg.headers={'content-type':'application/json',\"Authorization\":\"Bearer\"+token,\"ML-Instance-ID\":instance_id}\n\nvar a =global.get(\"a\");\nvar b =global.get(\"b\");\nvar c =global.get(\"c\");\nvar d =global.get(\"d\");\nvar e =global.get(\"e\");\nvar f =global.get(\"f\");\nvar g =global.get(\"g\");\nvar h =global.get(\"h\");\nvar i =global.get(\"i\");\nvar j =global.get(\"j\");\nvar k =global.get(\"k\");\nvar l =global.get(\"l\");\nvar m =global.get(\"m\");\nvar n =global.get(\"n\");\nvar o =global.get(\"o\");\nvar p =global.get(\"p\");\nvar q =global.get(\"q\");\nvar r =global.get(\"r\");\nvar s =global.get(\"s\");\nvar t =global.get(\"t\");\nvar u =global.get(\"u\");\n\nmsg.payload =  {\"input_data\": [{\"fields\": [\"Country\", \"Year\", \"Status\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"], \"values\": [[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]}]}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":594.5,"y":158,"wires":[["f7c9117e.24ad1"]],"l":false},{"id":"f7c9117e.24ad1","type":"http request","z":"5bd5984f.7c7e8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/33ebcb64-efa4-4adf-9c9e-12683f825f68/predictions","tls":"","persist":false,"proxy":"","authType":"","x":769.5,"y":157,"wires":[["b5c92229.70d758","45c6d237.c434c4"]],"l":false},{"id":"45c6d237.c434c4","type":"function","z":"5bd5984f.7c7e8","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":806.5,"y":333,"wires":[["219c895e.2dd33e"]],"l":false},{"id":"219c895e.2dd33e","type":"ui_text","z":"5bd5984f.7c7e8","group":"4db988a7.6f6348","order":2,"width":0,"height":0,"name":"PREDICTION","label":"PREDICTION","format":"{{msg.payload}}","layout":"row-spread","x":769.5,"y":559,"wires":[],"l":false},{"id":"b5c92229.70d758","type":"debug","z":"5bd5984f.7c7e8","name":"msg.payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":508.5,"y":393,"wires":[],"l":false},{"id":"4db988a7.6f6348","type":"ui_group","z":"","name":"PREDICTION","tab":"d9430c0f.61252","order":1,"disp":true,"width":"6","collapse":false},{"id":"d9430c0f.61252","type":"ui_tab","z":"","name":"LIFE EXPECTANCY","icon":"dashboard","disabled":false,"hidden":false}]